@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  -webkit-appearance: none;
  appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4a90e2; /* Tailwind's blue-500 */
  cursor: pointer;
  z-index: 3; /* Ensure it appears above the range */
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4a90e2; /* Tailwind's blue-500 */
  cursor: pointer;
}
